NET "ROM_SERIAL_SW"			LOC = "P72" | IOSTANDARD = LVCMOS33;
NET "H3"					LOC = "P90" | IOSTANDARD = LVCMOS33;
NET "WDI"					LOC = "P74" | IOSTANDARD = LVCMOS33;
NET "DSP_RST"				LOC = "P86" | IOSTANDARD = LVCMOS33;
NET "FPGA_RTS_INIT"			LOC = "P87" | IOSTANDARD = LVCMOS33 | PULLUP;

NET "AH<23>"				LOC = "P23" | IOSTANDARD = LVCMOS33;
NET "AH<22>"				LOC = "P22" | IOSTANDARD = LVCMOS33;
NET "AH<21>"				LOC = "P21" | IOSTANDARD = LVCMOS33;
NET "AH<20>"				LOC = "P17" | IOSTANDARD = LVCMOS33;

NET "AL<10>"				LOC = "P42" | IOSTANDARD = LVCMOS33;
NET "AL<9>"					LOC = "P16" | IOSTANDARD = LVCMOS33;
NET "AL<8>"					LOC = "P15" | IOSTANDARD = LVCMOS33;
NET "AL<7>"					LOC = "P14" | IOSTANDARD = LVCMOS33;
NET "AL<6>"					LOC = "P13" | IOSTANDARD = LVCMOS33;
NET "AL<5>"					LOC = "P12" | IOSTANDARD = LVCMOS33;
NET "AL<4>"					LOC = "P11" | IOSTANDARD = LVCMOS33;
NET "AL<3>"					LOC = "P9" | IOSTANDARD = LVCMOS33;
NET "AL<2>"					LOC = "P8" | IOSTANDARD = LVCMOS33;
NET "AL<1>"					LOC = "P5" | IOSTANDARD = LVCMOS33;
NET "AL<0>"					LOC = "P4" | IOSTANDARD = LVCMOS33;

NET "D<7>"					LOC = "P2" | IOSTANDARD = LVCMOS33;
NET "D<6>"					LOC = "P1" | IOSTANDARD = LVCMOS33;
NET "D<5>"					LOC = "P97" | IOSTANDARD = LVCMOS33;
NET "D<4>"					LOC = "P96" | IOSTANDARD = LVCMOS33;
NET "D<3>"					LOC = "P92" | IOSTANDARD = LVCMOS33;
NET "D<2>"					LOC = "P91" | IOSTANDARD = LVCMOS33;
NET "D<1>"					LOC = "P89" | IOSTANDARD = LVCMOS33;
NET "D<0>"					LOC = "P88" | IOSTANDARD = LVCMOS33;

NET "STRB"					LOC = "P63" | IOSTANDARD = LVCMOS33;
NET "RW"					LOC = "P64" | IOSTANDARD = LVCMOS33;
NET "EDGE_MODE"				LOC = "P65" | IOSTANDARD = LVCMOS33;
NET "RD"					LOC = "P28" | IOSTANDARD = LVCMOS33;

NET "WR"					LOC = "P27" | IOSTANDARD = LVCMOS33;

NET "XL16L784_CS"			LOC = "P79" | IOSTANDARD = LVCMOS33;
NET "FROM_CS"				LOC = "P60" | IOSTANDARD = LVCMOS33;
NET "NVSRAM_CS"				LOC = "P85" | IOSTANDARD = LVCMOS33;
NET "W5100_CS"				LOC = "P81" | IOSTANDARD = LVCMOS33;
NET "INT1"					LOC = "P67" | IOSTANDARD = LVCMOS33;
NET "INT2"					LOC = "P68" | IOSTANDARD = LVCMOS33;
NET "INT3"					LOC = "P71" | IOSTANDARD = LVCMOS33;
NET "XL16L784_INT"			LOC = "P75" | IOSTANDARD = LVCMOS33;
NET "W5100_INT"				LOC = "P80" | IOSTANDARD = LVCMOS33;

NET "RUN_LED"				LOC = "P30" | IOSTANDARD = LVCMOS33;
NET "ERR_LED"				LOC = "P32" | IOSTANDARD = LVCMOS33;

NET "DIMA"					LOC = "P61" | IOSTANDARD = LVCMOS33;
NET "DIMB"					LOC = "P62" | IOSTANDARD = LVCMOS33;

NET "LRST"					LOC = "P59" | IOSTANDARD = LVCMOS33 | DRIVE = 24 | PULLUP;
NET "N1SERVICE_IN"			LOC = "P54" | IOSTANDARD = LVCMOS33 | DRIVE = 24 | PULLUP;
NET "N1SERVICE_OUT"			LOC = "P53" | IOSTANDARD = LVCMOS33 | DRIVE = 24 | PULLUP;
NET "LON_INT"				LOC = "P50" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "LON_IRQ"				LOC = "P49" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "SPI_CLK"				LOC = "P37" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "SPI_SS"				LOC = "P38" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "SPI_DOUT"				LOC = "P36" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "SPI_DIN"				LOC = "P35" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "IO2"					LOC = "P47" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "IO3"					LOC = "P44" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "IO4"					LOC = "P43" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "IO5"					LOC = "P40" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "IO6"					LOC = "P39" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "IO11"					LOC = "P34" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "LON_CS0"				LOC = "P55" | IOSTANDARD = LVCMOS33 | PULLUP;

NET "DEBUG_OUT"				LOC = "P48" | IOSTANDARD = LVCMOS33;

 ################################################
 # FPGA : LONÀÇ ÇÉ ¸ÅÄ¡
 ################################################
 #IO0,50 (LON_INT)
 #IO1,49 (LON_IRQ)
 #IO2,47
 #IO3,44
 #IO4,43
 #IO5,40
 #IO6,39
 #IO7,38 (SELECT)
 #IO8,37 (CLOCK)
 #IO9,36 (DATA OUT)
 #IO10,35 (DATA IN)
 #IO11,34


